* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --main-text-color: black;
  --main-bg-color: white;
  /* background-color: #252525; */
  color: var(--main-text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

h1 {
  font-size: 3em;
  color: var(--main-text-color);
  text-align: center;
  font-weight: bolder;
}
/* body > p {
  text-align: center;
} */

aside {
  display: grid;

  .card {
    cursor: pointer;
    background-color: cyan;
    margin-top: 10px;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
  }
}
.contentCard {
  /* display: none; */
  position: absolute;
  opacity: 0;
  transition: 0.2s ease-in-out;
  left: 300px;
}

aside:hover .card[data-card="1"]:hover ~ .contentCard[data-card-image="1"] {
  opacity: 1;
}

aside:hover .card[data-card="2"]:hover ~ .contentCard[data-card-image="2"] {
  opacity: 1;
}

aside:hover .card[data-card="3"]:hover ~ .contentCard[data-card-image="3"] {
  opacity: 1;
}
