* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

h5 {
  font-size: 18px;
}

p {
  font-size: 16px;
}
:root {
  --header-height: 60px;
  --sub-header-height: 42px;
  --header-background: #83838330;

  --main-background-color: #375e96;
  --border-color: #70c3bb4f;
  --primary-color: white;
  --secondary-color: rgb(249, 164, 53);

  --items-background-color: #ffffff30;
  --items-background-image: #ffffff30;
  --items-box-shadow: 0 0 0.2rem #fff;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--main-background-color);
  color: var(--primary-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 20px;
  color: var(--primary-color);
  height: var(--header-height);
  border-bottom: 1px solid var(--border-color);
  background-color: var(--header-background);
}

.main {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - var(--header-height));
}

.mainLeftSection {
  display: flex;
  height: 100%;
  flex-basis: 90%;
}

.AccordionTab {
  height: 100%;
  transition: width 0.3s ease-in-out;
}
.fullView_tab_item {
  width: 100%;
  text-align: center;
  padding: 1.8rem 0rem;
  border: 1px solid var(--border-color);
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1.1px;
  cursor: pointer;
}

.AccordionTab:not(.active) {
  width: 80px;
  /* height: calc(600px + 3px); */
  transition: all 0.7s ease-in-out;
  transform-origin: left center;
}

.AccordionTab.active:not(.fullView) {
  width: 450px;
}

.AccordionTab.fullView {
  width: 100%;
}

.AccordionTab.active .AccordionTabHeader {
  display: none;
}
.AccordionTab:not(.active) .AccordionTabHeader {
  border: 1px solid var(--border-color);
  border-top: none;
  height: 100%;
  cursor: pointer;
}
.AccordionTab:not(.active) .AccordionTabHeader span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AccordionTab:not(.active) .AccordionTabHeader span i {
  margin-top: 15px;
  font-size: 1.2rem;
}

.AccordionTab:not(.active) .AccordionTabHeader span p {
  white-space: nowrap;
  transform-origin: center;
  rotate: 90deg;
  transform: translateX(100px);
  position: absolute;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 2px;
}

.AccordionTab:not(.active) .tabContent {
  display: none;
}
.AccordionTab.active .tabContent .tabContentHeader {
  width: 0px;
  opacity: 0.3;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--border-color);
  border-top: none;
  cursor: pointer;
  overflow: hidden;
  height: var(--sub-header-height);
  transform-origin: left center;
  animation: opac 0.7s 1 forwards;
  #viewBtn {
    border: none;
    padding: 3px 6px;
    background-color: var(--border-color);
    color: var(--primary-color);
    border-radius: 4px;
    cursor: w-resize;
  }
}

@keyframes opac {
  to {
    width: 100%;
    opacity: 1;
    /* background-color: aliceblue; */
  }
}
.tabContent_Data {
  height: calc(100vh - var(--header-height) - var(--sub-header-height));
  overflow-y: auto;
  border: 1px solid var(--border-color);
  border-top: none;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tabContent_Data::-webkit-scrollbar {
  background-color: var(--header-background);
  width: 8px;
}
.tabContent_Data::-webkit-scrollbar-thumb {
  color: var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 1rem;
}
.tabContent_Data::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}

.tabContent_Data .item {
  cursor: grab;
  white-space: none;
  padding: 1rem 0.5rem;
  box-shadow: var(--items-box-shadow);
  border-radius: 8px;
  color: var(--primary-color);
  background-color: var(--items-background-color);
  background-image: var(--items-background-image);
}
.leftSection {
  display: flex;
  white-space: nowrap;
  gap: 15px;
  align-items: center;
}

.leftSection h4 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2.2px;
  text-transform: capitalize;
}

.mainRightSection {
  flex-basis: 10%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.mainRightSection:not(.fullView) .mainRightSectionItemsList {
  display: none;
}
.deleteBtn {
  height: 100px;
  width: 100px;
  background: #ffad97;
  border-color: #ffad97;
  border-radius: 50%;
  border: none;
  margin: auto 0;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}
.deleteBtn:hover {
  box-shadow: 0 0 0.3rem orange;
  background-color: red;
  color: var(--primary-color);
}
