* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --primaryColor: #007bff;
  --bg-color-2: white;
  --bg-color-3: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  background-color: #009688;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./bg.jpg");
  background-size: 100vw 100vh;
}

.streamlinedBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* margin: 40px 100px; */
  margin: 40px 40px;
  color: white;
  padding: 25px 25px;
  /* gap: 100px; */
  border-radius: 30px;
  /* background: #1b1b1b; */
  background-color: #00000063;
  backdrop-filter: blur(3px);

  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0px;
    padding: 0px;
  }

  .sidebar {
    display: flex;
    width: 152px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;

    p {
      color: rgba(255, 255, 255, 0.3);
      font-style: normal;
      transition: 0.4s ease;
      font-weight: 500;
      border-radius: 16px;
      transform-origin: left center;
      cursor: pointer;
      user-select: none;
    }

    p:hover {
      color: white;
    }
    p.active {
      padding: 5px 20px;
      background-color: var(--bg-color-2);
      color: var(--bg-color-3);
      font-weight: 600;
    }
  }

  .overview {
    padding: 20px;
    position: relative;
    width: 450px;

    .chart {
      scale: 0.7;
      transform-origin: bottom center;
      background-color: black;
      border-radius: 18px;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 30px;
      padding: 20px;
      position: absolute;
      right: -80px;
      bottom: calc(100% - 100px);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      h5 {
        font-size: 18px;
      }

      p {
        color: #787777;

        span {
          letter-spacing: 3px;
          color: white;
          font-weight: bold;
        }
      }

      .bar {
        display: flex;
        width: 100%;
        height: 10px;

        span {
          display: inline-block;
          height: 100%;
          border-radius: 100px;
          border-right: 1px solid #1b1b1b;
        }
        span:nth-of-type(1) {
          width: 68%;
          background-color: #61c451;
        }

        span:nth-of-type(2) {
          width: 15%;
          border-color: #1b1b1b;
          background-color: #fac35a;
          transform: translateX(-3px);
        }

        span:nth-of-type(3) {
          transform: translateX(-3px);
          width: 17%;
          border-color: #1b1b1b;
          background-color: #fa805a;
        }
      }

      .values {
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;

        li {
          display: flex;
          list-style-type: disc;
          align-items: center;
          text-align: start;
          position: relative;
          margin-left: 20px;
          strong {
            color: white;
            margin-right: 5px;
            position: relative;

            span {
              position: absolute;
              left: -15px;
              top: 30%;
              margin-right: 10px;
            }
          }
        }
        li:before {
          position: absolute;
          left: -20px;
          top: -2px;
          content: "\2022";
          color: #61c451;
          font-size: 20px;
        }

        li:nth-of-type(2)::before {
          color: #fac35a;
        }

        li:nth-of-type(3)::before {
          color: #fa805a;
        }
      }
    }

    .chartAnimation {
      z-index: 5;
      animation: scaleBounceAnimation 0.8s ease-out;
    }

    .latest {
      margin-top: 20px;
      background-color: rgba(241, 242, 244, 1);
      border-radius: 18px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      color: black;

      /* // 3 Dots Header */
      .header {
        padding: 0;
        margin: 0;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;

        span {
          height: 8px;
          width: 8px;
          border-radius: 50%;
          text-align: center;
          background-color: rgba(0, 0, 0, 0.1);
          margin-right: 6px;
        }
      }

      .item_list {
        overflow-y: auto;
        /* // Add scrollbar if needed */
      }

      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        h5 {
          font-size: 1.2rem;
          font-weight: 600;
          margin-bottom: 10px;
        }

        p {
          font-size: 0.8rem;
          color: --primaryColor;
          cursor: pointer;
        }
        p:hover {
          text-decoration: underline;
        }
      }

      .list {
        list-style: none;
        padding: 0px;
        margin: 0px;

        img {
          height: 40px;
          width: 40px;
          object-fit: scale-down;
          border-radius: 50%;
          background-color: #666;
        }

        .item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          border-bottom: 1px solid #eee;

          .left {
            display: flex;
            gap: 10px;
            text-align: start;

            .name {
              h6 {
                font-size: 1rem;
              }

              p {
                color: var(--bg-color-3);
                font-size: 0.7rem;
              }
            }
          }

          .right {
            p {
              display: inline-flex;
            }

            .status {
              padding: 3px 10px;
              border-radius: 3px;
              text-align: center;
              font-size: 0.6rem;
            }
            .status.success {
              color: #61c451;
              background-color: #bbffb0;
            }

            .status.pending {
              color: #fac35a;
              background-color: #ffe9be;
            }

            .status.unpaid {
              color: #fa805a;
              background-color: #ffcea9;
            }
            .amount {
              font-weight: bold;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }

  .item_details {
    flex-basis: calc(100% - 600px);
    padding: 20px;
    text-align: start;

    h5 {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 20px;
      text-align: center;
    }

    p {
      width: 100%;
      color: #666;
      text-align: center;
    }
  }
}

.slideInFromBottom {
  opacity: 0;
  transform: translateY(20px);
  animation: slideInFromBottom 0.3s ease-out forwards;
}

.slideInFromBottom2 {
  opacity: 0;
  transform: translateY(20px);
  animation: slideInFromBottom 0.3s ease-out 0.3s forwards;
}

@keyframes scaleBounceAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slideInFromBottom2 {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
