* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem; */
  height: 60px;
  background-color: rgba(0, 0, 0, 0.21);
}
.container {
  position: relative;
}
.ul {
  position: fixed;
  right: 0px;
  top: 0px;
  padding: 1rem;
  width: 50vw;
  height: 100vh;
  background-color: rgba(95, 158, 160, 0.274);
  overflow: hidden;
}
.ul li {
  position: relative;
  z-index: 9;
  list-style: none;
  font-size: 2rem;
  color: white;
}
.ul::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 10px;
  border-radius: 50%;
  background-color: rgb(255, 0, 255);
  height: max(100vh, 100vw);
  width: max(100vh, 100vw);
  transform-origin: right top;
  scale: 0.04;
  animation: ani 1.5s infinite alternate-reverse;
}
.container::after {
  content: "";
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(127, 127, 127, 0.281);
  height: 100vh;
  width: 50vw;
}

@keyframes ani {
  100% {
    right: -50%;
    top: -25%;
    scale: 1;
  }
}
